.tag {
    background-color: var(--tag-bg-color);
    color: #fff;
    border-radius: 25px;
    padding: .1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.tag span {
    font-size: .8rem;
}

.close-tag {
    margin-left: .6rem;
    font-weight: 500;
}