.body-container .container { 
    justify-content: space-between;
    flex-direction: column;
}

.card-container { 
    background-color: var(--card-bg-color); 
    border-radius: 15px; 
    margin-top: var(--card-margin-top);
    min-height: 150px;
    width: 100%; 
    box-shadow: 0px 0px 16px 6px rgba(235,235,235,1);
}

@media screen and (min-width: 1020px) {
    .body-container .container { 
        flex-direction: row;
     }
    .card-container { 
        width: var(--card-desk-width); 
    }
}