* { 
    font-size: 16px;
    letter-spacing: .04em;
}

.d-flex { 
    display: flex; 
}

.body-container { 
    background-color: var(--main-bg-color); 
    min-height: var(--body-container-min-height);
    padding-bottom: 3rem;
}

.container { 
    align-items: center; 
    display: flex; 
    margin: 0 auto;
    width: var(--container-width); 
}

.grid-card {
    width: 100%;
}

.sec-title {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: .8rem;
}

/*=====================*\
    media querie
\*=====================*/
@media screen and (min-width: 760px) {
    * { 
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .body-container { 
      padding-bottom: 0;
    }
    .grid-card {
        width: var(--card-desk-width); 

    }
}