.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .kepper {
    position: absolute;
}

.keeper {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}


/*=============*
    3-2-2-3
*==============*/
[data-formation="3223"] .two,
[data-formation="3223"] .ten {
    left: 50%;
    transform: translateX(-50%);
}

[data-formation="3223"] .one {
    top: 130px;
    left: 20px;
}

[data-formation="3223"] .two {
    top: 120px;
}

[data-formation="3223"] .three {
    top: 130px;
    right: 20px;
}

[data-formation="3223"] .four,
[data-formation="3223"] .five {
    top: 220px;
}

[data-formation="3223"] .four {
    left: 80px;
}

[data-formation="3223"] .five {
    right: 80px;
}

[data-formation="3223"] .six,
[data-formation="3223"] .seven {
    bottom: 200px;
}

[data-formation="3223"] .six {
    left: 90px;
}

[data-formation="3223"] .seven {
    right: 90px;
}

[data-formation="3223"] .eight {
    bottom: 90px;
    left: 20px;
}

[data-formation="3223"] .nine {
    bottom: 90px;
    right: 20px;
}

[data-formation="3223"] .ten {
    bottom: 60px;
}

